html {
  scroll-behavior: smooth;
}

body {
  background-color: #050505;
  color: #e0e0e0;
  cursor: text;
  overflow-x: hidden;
  font-family: 'VT323', monospace;
}

::-webkit-scrollbar {
  width: 10px;
  background: #050505;
  border-left: 1px solid #1a1a1a;
}

::-webkit-scrollbar-thumb {
  background: #333;
  border: 1px solid #00ff41;
}

::-webkit-scrollbar-thumb:hover {
  background: #00ff41;
}

::selection {
  background: #bd00ff;
  color: #fff;
}

scrollbar-color: #333 #050505;
scrollbar-width: thin;
